.DisplayBox {

    height: 4em;
    display: flex;
    justify-content: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.4em;
    background-color: #eba8a8;
    stroke: #080808;
    color: #ffffff;
    padding: 0.5em;
    outline: 1px solid #888888;
}